.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.2fr 1fr 1fr 0.4fr;
  grid-template-areas:
    "nav nav nav"
    "sidebar main main"
    "sidebar contant1 contant2"
    "sidebar contant3 contant4"
    "footer footer footer";
  grid-gap: 0.2rem;
}

.nav {
  background: rgb(65, 185, 255);
  grid-area: nav;
}

.sidebar {
  background: rgb(26, 99, 141);
  grid-area: sidebar;
}

.main {
  background: rgb(28, 107, 153);
  grid-area: main;
}

.content1 {
  background: rgb(24, 134, 129);
  grid-area: contant1;
}
.content2 {
  background: rgb(6, 221, 210);
  grid-area: contant2;
}
.content3 {
  background: rgb(172, 241, 238);
  grid-area: contant3;
}
.content4 {
  background: rgb(50, 155, 150);
  grid-area: contant4;
}

.footer {
  background: rgb(124, 196, 238);
  grid-area: footer;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 1.2fr 1fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "contant1"
      "contant2"
      "contant3"
      "contant4"
      "footer";
  }
}

div>div{
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0.1rem;
    padding: 0.4rem 0.4rem;
}
